@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.kana-grid {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5,120px);
  gap: 4px;
}

.cell {
  text-align: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fdfdfd;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kana {
  font-size: 36px;
  font-weight: bold;
}

.romaji {
  font-size: 24px;
  color: lightcoral;
}


.button {
 background-color: #EA4C89;
 border-radius: 8px;
 border-style: none;
 box-sizing: border-box;
 color: #FFFFFF;
 cursor: pointer;
 display: inline-block;
 font-size: 14px;
 font-weight: 500;
 height: 40px;
 line-height: 20px;
 list-style: none;
 margin: 0;
 outline: none;
 padding: 10px 16px;
 position: relative;
 text-align: center;
 text-decoration: none;
 transition: color 100ms;
 vertical-align: baseline;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
}

.button:hover,
.button-1:focus {
background-color: #F082AC;
}
